.du-news-list {
    ul.du-newslist {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;

        .du-newsslider-item {
            width: 100%;
            max-width: 100%;
            padding: 0 12px 12px 0;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .du-news-list {
        ul.du-newslist {
            .du-newslist-item {
                width: calc( 50% - 24px );
                max-width: 50%;
                padding: 0 12px 12px 0;
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .du-news-list {
        ul.du-newslist {
            .du-newslist-item {
                width: 30%;
                max-width: 30%;
                padding: 0 12px 12px 0;
            }
        }
    }
}
