.du-teammember {
    width: 100%;
    padding: 12px;
    margin: 12px;
    border: 1px solid grey;
    .inner-container-top {
        img {
            width: 100%;
            height: auto;
        }
    }
    .inner-container-bottom {
        text-align: center;
        .name {
            font-weight: bold;
        }
        .function {}
        .description {}
    }
}